In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from homophily import load_graph
from homophily import get_minority_fraction
from homophily import get_edge_type_counts
from homophily import get_outdegree_powerlaw_exponents

In [2]:
columns = ['dataset','N','fm','E','Emm','EMM','EmM','gammam','gammaM']
df_details = pd.DataFrame(columns=columns)

datasets = ['Caltech36', 'Escorts','Swarthmore42','USF512009','Wikipedia']
for dataset in datasets:
    g = load_graph('../data/{}.gpickle'.format(dataset))
    fm = get_minority_fraction(g)
    Emm, EMm, EmM, EMM = get_edge_type_counts(g)
    fitm, fitM = get_outdegree_powerlaw_exponents(g)
    
    gamma_M, xmin_M, xmax_M = fitM.power_law.alpha, fitM.power_law.xmin, fitM.power_law.xmax
    gamma_m, xmin_m, xmax_m = fitm.power_law.alpha, fitm.power_law.xmin, fitm.power_law.xmax
    
    df_details = df_details.append(pd.DataFrame({'dataset': dataset,
                                                 'N': g.number_of_nodes(),
                                                 'fm': fm,
                                                 'E': g.number_of_edges(),
                                                 'Emm': Emm,
                                                 'EMM': EMM,
                                                 'EmM': EmM+EMm,
                                                 'gammam': gamma_m,
                                                 'gammaM': gamma_M,
                                                },
                                               columns=columns,
                                               index=[0]), ignore_index=True)

/ssd/lespin/virtualenv/python3.5/lib/python3.5/site-packages/powerlaw.py:700: RuntimeWarning: invalid value encountered in true_divide
  (Theoretical_CDF * (1 - Theoretical_CDF))
/ssd/lespin/virtualenv/python3.5/lib/python3.5/site-packages/powerlaw.py:700: RuntimeWarning: divide by zero encountered in true_divide
  (Theoretical_CDF * (1 - Theoretical_CDF))

In [3]:
df_details

,dataset,N,fm,E,Emm,EMM,EmM,gammam,gammaM
0,Caltech36,701,0.325250,15464,2351,6267,6846,4.656218,3.526275
1,Escorts,16730,0.395935,39044,0,0,39044,2.477017,4.397491
2,Swarthmore42,1519,0.492429,53726,13689,14968,25069,4.997918,4.985283
3,USF512009,1705,0.404106,15597,1798,5271,8528,3.683327,4.631682
4,Wikipedia,2132,0.153377,3143,125,2434,584,3.610080,2.825921

In [4]:
df_details.to_csv('datasets.csv', index=False)